.git
.github
.env
.venv
venv
__pycache__
*.py[cod]
.pytest_cache
.mypy_cache
.ruff_cache
dist
build
*.egg-info
tests
README.md
LICENSE
requirements.txt
requirements-dev.txt
warp_*.conf
warp_*.json
wg_*.conf
xray_*.json
